<h2>Por Pais</h2>
<hr>
<div class="animate__animated animate__fadeIn animate__faster">
    <div class="row">
        <div class="col">
            <app-pais-input (onEnter)="buscar( $event )"
                            (onDebounce)="suggestion( $event )"
                            [placeholder]="placeholder">
            </app-pais-input>
        </div>
    </div>

    <ul *ngIf="seeSuggestion === true"
        class="list-group">

        <li class="list-group-item list-group-item-action" 
            *ngFor="let country of countriesSuggestion">
            <a class="nav-link"
             [routerLink]="[ '/pais', country.alpha2Code ]">{{country.name}}</a>
        </li>

        <li class="list-group-item list-group-item-action" 
            (click)="searchSuggestion( termino )">
            <a class="nav-link">
               Buscar "{{ termino }}"
            </a>
        </li>

    </ul>

    <hr>
    <div class="alert alert-danger" role="alert" *ngIf="error">
        <h4 class="alert-heading">no se encontro ningun pais llamado {{termino}}</h4>
    </div>
    <div *ngIf="countries.length > 0">
        <app-pais-tabla [countries] = "countries"></app-pais-tabla>
    </div>

</div>